baseFolder: "$HOME/www/prestashop-"
tmpFolder: "/tmp"
baseDomain: "local.prestashop-"
baseDatabase: "prestashop-"
upstreamGithub: "git@github.com:PrestaShop/PrestaShop.git"
forkedGithub: "git@github.com:jolelievre/PrestaShop.git"
smtpServer: "in-v3.mailjet.com"
smtpUser: ""
smtpPass: ""
smtpPort: 25
