baseFolder: "$HOME/www/prestashop-"
tmpFolder: "/tmp"
baseDomain: "local.prestashop-"
baseDatabase: "prestashop-"
upstreamGithub: "git@github.com:PrestaShop/PrestaShop.git"
originGithub: "git@github.com:johndoe/PrestaShop.git"
smtpServer: "in-v3.mailjet.com"
smtpUser: ""
smtpPass: ""
smtpPort: 25
email: "john.doe@prestashop-shop.com"
password: "prestashop"
firstName: "John"
lastName: "DOE"
